.button {
    display: inline-block;
    font-size: 16px;
    border-radius: 0.25em;
    padding: 1.37em 2.93em;
    color: $white;
    transition: background-color 0.2s;

    
    &--primary {
        background-color: $accent;
        &:hover {
            background-color: darken($accent, 8);
        }
    }

    &--catalog {
        background-color: $dark;
        width: 100%;
        &:hover {
            background-color: #31343C;
        }
    }
}
